<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <script>
        function applySettings() {
            if (localStorage.getItem("lightMode") === "enabled") {
                document.body.classList.add("light-modestorage");
                document.body.classList.remove("dark-modestorage");
                document.body.className = "light-modestorage";
            } else {
                document.body.classList.add("dark-modestorage");
                document.body.classList.remove("light-modestorage");
                document.body.className = "dark-modestorage";
            }
        }
        applySettings();
    </script>

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('bookCatalogue') }}">Book Catalogue</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
        </ul>
    </nav>

    <h2>Book Info</h2>
    <div class="container1">
        <img src="{{ url_for('static', filename=image) }}" alt="{{ title }}">
        <div class="content">
            <p><strong>ISBN:</strong> {{ isbn }}</p>
            <p><strong>Title:</strong> {{ title }}</p>
            <p><strong>Description:</strong> {{ description }}</p>
            <p><strong>Author:</strong> {{ author }}</p>
            <p><strong>Genre:</strong> {{ genre }}</p>
            <p><strong>Rating:</strong> {{ rating }}</p>
            <p><strong>Publication Year:</strong> {{ publication_year }}</p>
        </div>
    </div>

</body>
</html>