<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Catalogue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <script>
        // Apply theme settings based on the value stored in localStorage
        function applySettings() {
            // If light mode is enabled, add the light theme class and remove the dark theme class
            if (localStorage.getItem("lightMode") === "enabled") {
                document.body.classList.add("light-modestorage");
                document.body.classList.remove("dark-modestorage");
            } else {
                // If dark mode is enabled, add the dark theme class and remove the light theme class
                document.body.classList.add("dark-modestorage");
                document.body.classList.remove("light-modestorage");
            }
        }
        applySettings()
    </script>

    <!--Navigation bar-->
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('book_catalogue') }}">Book Catalogue</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
        </ul>
    </nav>

    <!--Sidebar on catalogue page-->
    <div class="header-container">
        <button class="btn btn-primary" onclick="toggleSidebar()">Filter</button>
    </div>

    <!--All the different checkboxes for the sidebar (for the filter)-->
    <div id="sidebar" class="sidebar">
        <form method="POST" action="{{ url_for('book_catalogue') }}">
            <input type="checkbox" name="genre" value="Graphic" {% if "Graphic" in selected_genres %} checked {% endif %}> Graphic<br>
            <input type="checkbox" name="genre" value="Gothic" {% if "Gothic" in selected_genres %} checked {% endif %}> Gothic<br>
            <input type="checkbox" name="genre" value="Fiction" {% if "Fiction" in selected_genres %} checked {% endif %}> Fiction<br>
            <input type="checkbox" name="genre" value="Tragedy" {% if "Tragedy" in selected_genres %} checked {% endif %}> Tragedy<br>
            <input type="checkbox" name="genre" value="Philosophical" {% if "Philosophical" in selected_genres %} checked {% endif %}> Philosophical<br>
            <input type="checkbox" name="genre" value="Autobiography" {% if "Autobiography" in selected_genres %} checked {% endif %}> Autobiography<br>
            <input type="checkbox" name="genre" value="Magical" {% if "Magical" in selected_genres %} checked {% endif %}> Magical<br>
            <input type="checkbox" name="genre" value="Realistic" {% if "Realistic" in selected_genres %} checked {% endif %}> Realistic<br>
            <input type="checkbox" name="genre" value="Science-Fiction" {% if "Science-Fiction" in selected_genres %} checked {% endif %}> Science-Fiction<br>
            <input type="checkbox" name="genre" value="Dystopian" {% if "Dystopian" in selected_genres %} checked {% endif %}> Dystopian<br>
            <input type="checkbox" name="genre" value="Comedy" {% if "Comedy" in selected_genres %} checked {% endif %}> Comedy<br>
            <input type="checkbox" name="genre" value="Romance" {% if "Romance" in selected_genres %} checked {% endif %}> Romance<br>
            <input type="checkbox" name="genre" value="Psychological" {% if "Psychological" in selected_genres %} checked {% endif %}> Psychological<br>
            <input type="checkbox" name="genre" value="War" {% if "War" in selected_genres %} checked {% endif %}> War<br>
            <input type="checkbox" name="genre" value="Historical" {% if "Historical" in selected_genres %} checked {% endif %}> Historical<br>
            <button type="submit">Apply</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
    <h1>Book Catalogue</h1>
    <div class="container">
    {% for row in cataloguedata %}
    <div style="overflow: hidden;">
        <h7>{{row[1]}}</h7>
        <div class="imgcontainer"><img src="{{ url_for('static', filename=row[2]) }}" style="width: 280px;"></div>
        <a class="MoreInfoButton" style="bottom: 0;" href="{{ url_for('book_info', isbn=row[0]) }}" target="_blank">More Information</a>
    </div>
    {% endfor %}
</div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
