<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify Email</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <script>
    // Apply theme settings based on the value stored in localStorage
    function applySettings() {
        // If light mode is enabled, add the light theme class and remove the dark theme class
        if (localStorage.getItem("lightMode") === "enabled") {
            document.body.classList.add("light-modestorage");
            document.body.classList.remove("dark-modestorage");
        } else {
            // If dark mode is enabled, add the dark theme class and remove the light theme class
            document.body.classList.add("dark-modestorage");
            document.body.classList.remove("light-modestorage");
        }
    }
    applySettings()
  </script>

  <!--Decorative circles on email verify page-->
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <form class="login" action="{{ url_for('email_verification_code') }}" method="POST" onsubmit="disableButton()">
    <h3>Verify Email</h3>
    <p><input type="text" placeholder="Email Code" name="email code" required /></p>
    <!--<p><input type="submit" value="Verify Email" id="submitBTN"/></p>-->
    <button type="submit" value="Verify Email" id="submitBTN">Verify Email</button>
  </form>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  
</body>
</html>
