<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('login') }}">Back To Log In Page</a></li>
        </ul>
    </nav>


    <h2>Forgot Password</h2>
    <form action="{{ url_for('ForgotPassword') }}" method="POST" onsubmit="disableButton()">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <p>Email: <input type="email" name="email" required /></p>
        <p><input type="submit" value="Forgot Password" id="submitBTN" /></p>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>

    <script>
        function disableButton()
        {
            document.getElementById("submitBTN").disabled = true;
        }
    </script>

</body>
</html>
