<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>

<body>

    <script>
        // Apply theme settings based on the value stored in localStorage
        function applySettings() {
            // If light mode is enabled, add the light theme class and remove the dark theme class
            if (localStorage.getItem("lightMode") === "enabled") {
                document.body.classList.add("light-modestorage");
                document.body.classList.remove("dark-modestorage");
            } else {
                // If dark mode is enabled, add the dark theme class and remove the light theme class
                document.body.classList.add("dark-modestorage");
                document.body.classList.remove("light-modestorage");
            }
        }
        applySettings()
    </script>
    
    <!--Navigation Bar-->
    <nav>
        <ul>         
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
        </ul>
    </nav>

    <!--Decorative circles on login page-->
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form class="login" action="{{ url_for('login') }}" method="POST" onsubmit="disableButton()">
        <h3>Log In Here</h3>
        <p><input type="text" placeholder="Username" name="username" required /></p>
        <p><input type="password" placeholder="password" name="password" required /></p>
        <button type="submit" value="Log In" id="submitBTN">Log In</button>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>

    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>

</body>
</html>
