<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <nav>
        <ul>         
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        </ul>
    </nav>

    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="POST" onsubmit="disableButton()">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <p><input type="text" placeholder="Username" name="username" required /></p>
        <p><input type="password" placeholder="password" name="password" required /></p>
        <input type="submit" id="submitBTN"></input>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <p style="color: red;">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endwith %}
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
