<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('bookCatalogue') }}">Book Catalogue</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            <li><a href="{{ url_for('ResetPassword') }}">Reset Password</a></li>
            <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
        </ul>
    </nav>


    <h2>Reset Password</h2>
    <form action="{{ url_for('ResetPassword') }}" method="POST" onsubmit="disableButton()">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <p>New Password: <input type="password" name="password" required /></p>
        <p>Re-Enter Password: <input type="password" name="re-enter password" required/></p>
        <p><input type="submit" value="Forgot Password" id="submitBTN" /></p>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>

    <script>
        function disableButton()
        {
            document.getElementById("submitBTN").disabled = true;
        }
    </script>

</body>
</html>
