<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <script>
        // Apply theme settings based on the value stored in localStorage
        function applySettings() {
            // If light mode is enabled, add the light theme class and remove the dark theme class
            if (localStorage.getItem("lightMode") === "enabled") {
                document.body.classList.add("light-modestorage");
                document.body.classList.remove("dark-modestorage");
            } else {
                // If dark mode is enabled, add the dark theme class and remove the light theme class
                document.body.classList.add("dark-modestorage");
                document.body.classList.remove("light-modestorage");
            }
        }
        applySettings()
    </script>

    <!--Navigation Bar-->
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
        </ul>
    </nav>

    <!--The decorative circles on the signup page-->
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form class="signup" action="{{ url_for('signup') }}" method="POST" onsubmit="disableButton()">
        <h3>Signup Here</h3>
        <p><input type="text" placeholder="Username" name="username" required /></p>
        <p><input type="text" placeholder="Email" name="email" required /></p>
        <p><input type="password" placeholder="Password" name="password" required /></p>
        <p><input type="password" placeholder="Re-Enter Password" name="re-enter password" required /></p>
        <button type="submit" value="Sign Up" id="submitBTN">Sign Up</button>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>

</body>
</html>