<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        </ul>
    </nav>

    <h2>Sign Up</h2>
    <form action="{{ url_for('signup') }}" method="POST" onsubmit="disableButton()">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <p>Username: <input type="text" name="username" required /></p>
        <p>Email: <input type="email" name="email" required /></p>
        <p>Password: <input type="password" name="password" required /></p>
        <p>Re-enter Password: <input type="password" name="re-enter password" required /></p>
        <p><input type="submit" value="Sign Up" id="submitBTN" /></p>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
    <script>
        function disableButton()
        {
            document.getElementById("submitBTN").disabled = true;
        }
    </script>

</body>
</html>